#container{
    border:1px solid black;
    display:grid;
    height:500px;
    width:500px;
    margin:0 auto;  
    
}
.box{
    
    background-color: white;
    border:1px solid black;
    }


.black{
    background-color:black;
}

.invisiblack{
    background: black;
    opacity:0.1;
    border:1px solid black;
}